.Login{
    display: flex;
    height: 100vh;
    align-items: stretch;
    aside{
        background: #835afd;
        color: #fff;
        display: flex;
        flex: 4;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 120px;
        .Banner{
            h1{
                font-size: 40px;
            }
            span{
                font-size: 18px;
            }
        }
        
    }

    section{
        flex: 7;
        display: flex;
        align-items: center;
        justify-content: center;
        
        main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 32px;
            .WithGoogle{
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: stretch;
                padding: 32px;
                 > img{
                    align-self: center;
                    padding-bottom: 30px;
                }
                .Google{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white; 
                    padding: 10px;
                    border: none;
                    border-radius: 10px;
                    background: #EA4335;
                    cursor: pointer;
                    &:hover{
                        filter: brightness(0.9);
                    }
                    >img{
                        padding-right: 10px;
                    }
                }
               
            }
         .Separator{
            color: rgb(180, 179, 175);
            display: flex;
            align-items: center;
            margin: 20px 0;

            &::before{
                content: '';
                height: 1px;
                background: rgb(180, 179, 175);
                flex: 1;
                width: 80px;
                margin-right: 16px;
            }
            &::after{
                flex: 1;
                content: '';
                width: 80px;
                height: 1px;
                background:rgb(180, 179, 175) ;
                margin-left: 16px;
            }
         }
         h1{
            font-size: 35px;
        }


            }
        
    }




}


form{
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    .imput{
        text-align:left;
        font-size: 17px;
        padding: 15px;
        color:rgb(180, 179, 175) ;
        border: 1px solid rgb(166, 166, 170);
        border-radius: 8px;
        margin-bottom: 25px
    }
    .EnterRoom{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #835AFD;
        color: white;
        padding: 15px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        &:hover{
            filter: brightness(0.9)
        }
        >img{
            padding-right: 15px;
            }
    }
}




@media screen and (max-width:900px) {
    .Login{
        display: block;
        aside{
           padding: 20px 40px 0px 40px;
            .Banner{
                h1{
                    font-size: 30px;
                }
            }
            
        }
        section{
            main{
                h1{
                    font-size:30px;
                }
            }
        }
     }
     
}




