header{ 
    overflow-x: hidden;
    width:100vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    .logo{
        display: flex;
        flex: 5;
        justify-content: flex-start;
        padding:25px 60px;
        img{
            width:100px;
        }
    }
    .Buttons{
        flex:4;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 0 32px;
        .logout{
            border: none;
            border-radius: 8px;
            padding:11px 20px;
            color: #835afd;
            background-color: #fff;
            cursor: pointer;
            &:hover{
                box-shadow: -1px 3px 11px 5px rgba(0,0,0,0.27)
            }

        }
       .First{
            display: flex;
            height: 35px;
            align-items: center;
            overflow:hidden;
            background-color: #fff;
            border: 1px solid #835afd;
            border-radius: 8px;
            cursor: pointer;
            margin-right: 20px;
            div{
                padding: 0 12px;

                background-color: #835afd;
                display: flex;
                align-items: center;
                height: 36px;
                border-radius: 8px;
                margin-left: -10px;
                margin-right: 10px;
                &:hover{
                    filter: brightness(0.9)
                }
            }
            span{
                display: flex;
                flex: 1;
                cursor: auto;
            }
       }
       .Second{
            color:#835afd ;
            padding: 10px 20px;
            cursor: pointer;
            border:1px solid #835afd;
            border-radius:8px ;

            &:hover{
                filter:brightness(0.9)
            }
        }
    }
    .menu-icon{
        width:30px;
        height:30px;
        margin-right: 30px;
        cursor: pointer;
        display: none;
        >img{
           width:100%;
           height:100%;
           color: #835afd 
        }
    }
}
.menu-mobile{
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width:100%;
    height:40vh;
    background-color:rgba(131, 90, 253,0.8);
    transition: 200;
    display: none;
    
    .logout{
        border: none;
        border-radius: 8px;
        padding:11px 20px;
        color: #835afd;
        background-color: #fff;
        cursor: pointer;
        &:hover{
            box-shadow: -1px 3px 11px 5px rgba(0,0,0,0.27)
        }

    }
   .First{
        display: flex;
        padding-right: 19px;
        align-items: center;
        overflow:hidden;
        background-color: #fff;
        border: 1px solid #835afd;
        border-radius: 8px;
        cursor: pointer;
        div{
            padding: 0 12px;
            background-color: #835afd;
            display: flex;
            align-items: center;
            height: 36px;
            border-radius: 8px;
            margin-left: -10px;
            margin-right: 10px;
            &:hover{
                filter: brightness(0.9)
            }
        }
        span{
            display: flex;
            flex: 1;
            cursor: auto;
           
        }
   }
   .Second{
        color:#835afd ;
        padding: 10px 20px;
        cursor: pointer;
        border:1px solid #835afd;
        border-radius:8px ;

        &:hover{
            filter:brightness(0.9)
        }
    }
}

section{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    
    main{
        display: flex;
        flex-direction: column;
       margin-top: 110px;
        .form{
            justify-content:center;
            display: flex;
            flex-direction: column;
            width: 600px;
            textarea{
                max-width:  600px;
                width: 600px;
                height:120px;
                resize: vertical;
                margin-bottom: 20px;
                padding: 20px;
                border: 1px solid #835afd;
                
            }
            >div{
                display: flex;
                align-items: center;
               width:100%;
               justify-content:space-between;
                span{
                    color: rgb(139, 136, 136);
                    font-size:14px;
                    button{
                        border: none;
                        border-bottom: 1px solid #835afd;
                        color:#835afd;
                        cursor: pointer;
                        
                    }
                }
                >button{
                    height:35px;
                    margin-left: 10px;
                    :disabled{
                        color: #ccc
                    };

                }
            }
        }
        .img{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-size:20px;
            }
            
        }
    }

}

.Title{
    display : flex;
    align-items:baseline;
    gap: 10px;
  
    >span{
        display: flex;
        text-align:center;
        width: 90px;
        border-radius: 13px;
        padding: 5px;
        padding-left: 6px;
        margin-left: 6px;
        background-color:#E559F9;
        color: #fff;
    }
    
}

.question{
   
    margin: 20px 20px 20px 30px;
    justify-content:center;
    width: 600px;
    background: #fefefe;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 24px;
    border-radius: 15px;
    >p{
        color: #29292e;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    
        .user-info {
          display: flex;
          align-items: center;
    
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color:#835afd;
            display: flex;
            align-self: baseline;
          }
    
          span {
            margin-left: 8px;
            color: #737380;
            font-size: 14px;
          }
        }
    }
}
.question-wrapper{
    height: 500px;
    overflow-y: scroll;
}
.user {
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color:#835afd;
      display: flex;
      align-self: baseline;
    }

    span {
      margin-left: 8px;
      color: #737380;
      font-size: 19px;
    }
  }
  .isResponding{
      background-color:#F4F0FF;
      border: 1px solid #835afd,
  }
 
  .isAnwsered{
  
    background: #ccc;
    border: none;
    >p{
        color: #262627;
    }
   
    .Btns{
        .isResponding{
            display: none;
        }
        .isAnwsered{
            display: none;
        }
        .like{
            display: none;
        }
    }
        .user-info {
         
    
          img {
           
            background-color:rgb(170, 124, 124);
           
          }
    
          span {
            color: #737380;
         
          }
        }
    }

.Btns{
    display: flex;
    gap: 5px;
    .isAnwsered{
        border: none;
        background-color:transparent;
        cursor: pointer;

       
    }
    .isResponding{
        border: none;
        background-color:transparent;
        cursor: pointer;
    }
    .Excluir{
        border: none;
        background-color:transparent;
        cursor: pointer;
        
    }
    .like{
        border: none;
        background-color:transparent;
        cursor: pointer;
        display: flex;
        align-items:flex-end;
        gap: 4px;
    }
}
.disabled{
    display: none;
}

@media screen and (max-width:725px){
    header{
        .Buttons{
            display: none;
        }
        .menu-icon{
            display: flex;
        }
    }
    
}
 